
body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background-color: #ffffff;
}

header{
    margin-bottom: 50px;

}

.navbar-inverse .navbar-nav>li>a.login:hover{
    color: black;

}

.logo{
    background-color: #1DA0B4;
    height: 100px;
    line-height: 100px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 31px;
    margin: 0;
    padding-left: 4em;
    color: #f2f2f2;
    font-weight: normal
}

.title{
    background-color: #ffffff;
    height: 100px;
    line-height: 100px;
    font-size: 31px;
    margin: 0;
    padding-left: 4em;
    color: #467587;
    font-weight: normal
}

.icons {
    margin-left: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #f2f2f2;
}

.icons span{
    display: block;
    font-size: 40px;
    line-height: 60px;
    color: #f2f2f2;

}

.grid-item { width: 260px; 
}

.icons div{
    height: 100px;
    text-align: center;
    box-sizing: 

}
.icons div:nth-child(1){
    background-color: #2ecc71;
}

.icons div:nth-child(2){
    background-color: #3498db;
}

.icons div:nth-child(3){
    background-color: #9b59b6;
}

.icons div:nth-child(4){
    background-color: #e67e22;
}

.icons div:nth-child(5){
    background-color: #e74c3c;
}

.icons div:nth-child(6){
    background-color: #f39c12
}

.navbar-inverse{
    background-color: #ffffff;
    border-color: #ffffff;
}

.navbar-inverse .navbar-brand {
    color: #000000;
}

.navbar-inverse .navbar-nav > li > a{
    color: #000000
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #000000;
}

.navbar-inverse .navbar-toggle .icon-bar:hover {
  background-color: #000000;
}

.navbar-inverse .navbar-brand:hover {
    color: #000000
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #000000;
}

hr.featurette-divider{
    border-top: 3px double #8c8b8b;
}

hr.style4{
    border-top: 1px dotted #8c8b8b;
}

.well {
    background: #e74c3c;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 31px;
    margin: 0;
    color: #f2f2f2;
    margin-top: 10px;
}

.well>a, a:focus, a:hover{
    color: #ffffff;
    text-decoration: none;
}

.btn-primary{
    border-color: #de8017;
    background-color: #de8017;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    color: white;
}

.btn-primary:hover{
    border-color: #de8017;
    background-color: #de8017;
}

h2.index{
    color: #467587;
    text-align: left;
}

h4.index{
    color: #467587;
    text-align: left;
}

p.price{
    font-weight: 900;
}

p.product{
    font-weight: 900;
}

h6.login{
    text-align: center;
}

a:focus, a:hover {
    color: #467587; 
}

h2{
    color:#467587;
}

h4{
    text-align: center;
    color: #467587;    
}

label {
    font-size: 0;
}

.img-thumbnail{
    height: auto!important;
}

.img-rounded{
    height: 300px!important;
}

center{
    margin-top: 0!important;
}

#id_username{
    width: 100%;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
}

#id_password{
    width: 100%;
}

#id_password1{
    width: 100%;
}

#id_password2{
    width: 100%;
}

#id_new_password1{
    width: 100%;
}

#id_new_password2{
    width: 100%;
}

#id_email{
    width: 100%;
}

span {
    font-size: 10px;
}

form{
    color:#848d95;
    background: #f9f9f9;
    border: 1px solid #d4d4d4;
    box-shadow: -1px 1px #f2f2f2;
    padding: 25px 40px 10px;
    display:block;
}

.btn-default{
    margin-top: 25px;
}

.login-help{
    margin:20px 0;
    font-size: 12px;
    color: #d4d4d4;
    text-align: center;
}

.login-help a{
    color: #cce7fa;
    text-decoration: none; 
}

.login-help a:hover{
    text-decoration: underline;
}

#about{
    height: 400px;
    padding-left: 5%;
    padding-right: 5%; 
}

#lead{
  height: 400px;
  padding-left: 3%;  
}

.img-thumbnail{
   height: 300px; 
}

footer {
    margin: 50px 0;
}

#contact{
    padding:10px 0 10px;
  }

.contact-text{
    margin:45px auto;
  }

.mail-message-area{
    width:100%;
    padding:0 15px;
  }

.mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

.not-visible-message{
    height:0px;
    opacity: 0;
  }

.visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

.form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

.form:hover{
    border:1px solid #8BC3A3;
  }

.form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

.textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  
/* Generic Button Styles */

.button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

.button:hover{
    background:#8BC3A3;
    color:white;
  }

/* Send Button Styles */

.form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

.form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

.form-btn:active{
    opacity: 0.9;
  }

center{
  margin-top:330px;
}

