
{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load humanize %}


    <title>
        {%block title %} Password Reset Form - {{block.super}}{% endblock %} 
    </title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


<body>

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
        <br><h4> Welcome to TejiendoMiVida </h4>
        <h4> Password Reset Form</h4></br>
            <form role="form" action="" method="post">
                <div class="form-group">
                {% csrf_token %}
                <p> {{form.errors}}</p>
                <p>
                <label for="id_email">Email</label>
                <input id="id_email" maxlength="254" name="email" type="email" placeholder="Please re-enter your email">
                    
                </p>
                <button type="submit" class="btn btn-default" value="Submit">Submit</button>
            </form>
        </div>
        
    </div>
    
</div>
    
    
  </body>


{% endblock %}
        

        <footer>
        <br>
            {%block footer %} {{block.super}}{% endblock %} 
        </br>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>