
{% extends 'layouts/base.html' %}
{% load staticfiles %}


    <title>
        {%block title %} About - {{block.super}}{% endblock %} 
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">


<body>

        
        {%block content %}
        
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>We believe in crochet. We make anything you need with yarn and a crochet hook. We specialize in amigurumis, but we can crochet everything you need for you, your kids, or your home.</p>
                <p>All you need to do is visit our catalog and see all the beautiful designs that we can do with crochet. We are happy to think and create new designs and think in different versions of the amigurumis, scarfs, hats, jewelry and all our works that you can see in our catalog.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="{% url 'catalog' %}">Visit Our Catalog &raquo;</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Tejiendo MiVida</strong>
                    <br>Third Street
                    <br>San Francisco, CA 94107
                    <br>
                </address>
                <address>
                    <br>
                    <abbr title="Email">Email:</abbr><a href="mailto:#">yosola@gmail.com</a>
                    <br>
                    <abbr title="Contact"></abbr><a href="{% url 'contact' %}">Contact</a>
                </address>
            </div>
        </div>

        <hr>

        {% endblock %}         

        <hr>


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
