
{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load humanize %}


    <title>
        {%block title %} Index - {{block.super}}{% endblock %} 
    </title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


<body>

{% block content %}
        
    <div class="container">

        <hr class="featurette-divider">

        <div class="featurette" id="about">
            <img class= "img-thumbnail img-responsive pull-right" src="{{special_order.image.url}}">
            <h2 class="featurette-heading">Special offers from: {{now|date:"D d M Y"}}</h2>
            <h4>{{special_order.name}}</h4>
            <p class="lead">{{special_order.description}}</p>
            <p><a class="btn btn-primary btn-large">See my collection</a>
        

        <hr class="style4">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-thumbnail img-responsive img-center" src="{{amigurumis.image.url}}" alt="">
            <h2>We Do Amigurumis</h2>
            <h4>{{amigurumis.name}}</h4>
            <p>{{amigurumis.description}}</p>
            <p>
            <a href="#" class="btn btn-primary btn-large">Buy Now!</a>
            </p>
        </div>
        <div class="col-sm-4">
            <img class="img-thumbnail img-responsive img-center" src="{{baby_special.image.url}}" alt="">
            <h2>We Do Baby Toys</h2>
            <h4>{{baby_special.name}}</h4>
            <p>{{baby_special.description}}</p>
            <p>
            <a href="#" class="btn btn-primary btn-large">Buy Now!</a>
            </p>
        </div>
        <div class="col-sm-4">
            <img class="img-thumbnail img-responsive img-center" src="{{decorations.image.url}}" alt="">
            <h2>We Do Decorations</h2>
            <h4>{{decorations.name}}</h4>
            <p>{{decorations.description}}</p>
            <p>
            <a href="#" class="btn btn-primary btn-large">Buy Now!</a>
            </p>
        </div>
    </div>


{% endblock %}
        
        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            {%block footer %} {{block.super}}{% endblock %} 
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
