
{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load humanize %}


    <title>
        {%block title %} Index - {{block.super}}{% endblock %} 
    </title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


<body>

{% block content %}
        
    <div class="container">
        <div class="row">

        <div class="col-md-5">
            <a href="{% url 'products_detail' slug=special_order.slug %}"><img class= "img-responsive img-circle pull-center" src="{{special_order.image.url}}"></a>
        </div> 
        
        <div class="col-md-7">

            <h2><a href="{% url 'products_detail' slug=special_order.slug %}">Special offers from: {{now|date:"D d M Y"}}</a></h2>
            
            <h4><a href="{% url 'products_detail' slug=special_order.slug %}">{{special_order.name}}</a></h4>
            <p class="lead">{{special_order.description}}</p>
            <p><a class="btn btn-primary btn-large" href="{% url 'products_detail' slug=special_order.slug %}">Buy it this collection</a></p>
        </div>
        
        </div>
    </div>

        <hr class="style4">
    

    <div class="row">
        <div class="col-sm-4">
            <a href="{% url 'products_detail' slug=amigurumis.slug %}"><img class="img-thumbnail img-responsive img-center" src="{{amigurumis.image.url}}" alt=""></a>
            <h2><a href="{% url 'products_detail' slug=amigurumis.slug %}">We Do Amigurumis</h2></a>
            <h4><a href="{% url 'products_detail' slug=amigurumis.slug %}">{{amigurumis.name}}</h4></a>
            <p>{{amigurumis.description}}</p>
            <p>
            <a href="{% url 'products_detail' slug=amigurumis.slug %}" class="btn btn-primary btn-large">Buy Now!</a>
            </p>
        </div>
        <div class="col-sm-4">
            <a href="{% url 'products_detail' slug=baby_special.slug %}"><img class="img-thumbnail img-responsive img-center" src="{{baby_special.image.url}}" alt=""></a>
            <h2><a href="{% url 'products_detail' slug=baby_special.slug %}">We Do Baby Toys</a></h2>
            <h4><a href="{% url 'products_detail' slug=baby_special.slug %}">{{baby_special.name}}</a></h4>
            <p>{{baby_special.description}}</p>
            <p>
            <a href="{% url 'products_detail' slug=baby_special.slug %}" class="btn btn-primary btn-large">Buy Now!</a>
            </p>
        </div>
        <div class="col-sm-4">
            <a href="{% url 'products_detail' slug=decorations.slug %}"><img class="img-thumbnail img-responsive img-center" src="{{decorations.image.url}}" alt=""></a>
            <h2><a href="{% url 'products_detail' slug=decorations.slug %}">We Do Decorations</h2></a>
            <h4><a href="{% url 'products_detail' slug=decorations.slug %}">{{decorations.name}}</a></h4>
            <p>{{decorations.description}}</p>
            <p>
            <a href="{% url 'products_detail' slug=decorations.slug %}" class="btn btn-primary btn-large">Buy Now!</a>
            </p>
        </div>
    </div>


{% endblock %}
        
        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            {%block footer %} {{block.super}}{% endblock %} 
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
