
{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load humanize %}


    <title>
        {%block title %} {{product.name}} - {{block.super}}{% endblock %} 
    </title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


<body>

{% block content %}
        
<!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{product.name}}
                <small>Our Product in Sale</small>
            </h1>
        </div>
    </div>
<!-- /.row -->

<!-- Portfolio Item Row -->
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" src="{{product.image.url}}" alt="">
        </div>

        <div class="col-md-7">
        <h3>Project Description</h3>
        <p>{{product.description}}</p>
        <p><a class="btn btn-primary btn-large"> Buy it! </a>
        </div>

        </div>
<!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Product Galery</h3>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="{{product.image.url}}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="{{product.image.url}}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="{{product.image.url}}" alt="">
                </a>
            </div>

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class="img-responsive portfolio-item" src="{{product.image.url}}" alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->


{% endblock %}
        
        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            {%block footer %} {{block.super}}{% endblock %} 
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
