
{% extends 'layouts/base.html' %}
{% load staticfiles %}
{% load humanize %}
{% load payment_button %}


    <title>
        {%block title %} {{product.name}} - {{block.super}}{% endblock %} 
    </title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">


<body>

{% block content %}
        
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{product.name}}
                <small>Our Product in Sale</small>
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive" src="{{product.main_picture.image.url}}" alt="">
        </div>

        <div class="col-md-7">
        <h3>Project Description</h3>
        <p>{{product.description}}</p>
        <p class="product">{{product.overview|linebreaks}}</p>
    
        <p class="price">Price: {{product.price}} USD</p>
        
        {% buy_now_button %}       
        
        </div>

        </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Product Gallery</h3>
            </div>

            {% for picture in product.pictures.all %}

            <div class="col-sm-3 col-xs-6">
                <a href="#">
                    <img class=" img-thumbnail img-responsive img-center" src="{{picture.image.url}}" alt="">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
        
        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            {%block footer %} {{block.super}}{% endblock %} 
        </footer>

    </div>

</body>

</html>
